* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 12px;
}

nav {
    height: 15vh;
    width: 100%;
    font-size: 11px;
    color: gray;
}

a {
    text-decoration: none;
    color: gray;
}

li {
    list-style: none;
}

.service, .menu, .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;
}

.top-menu {
    margin-left: -50px;
    margin-right: 200px;
}

.top-menu li {
    margin-left: 20px;
}

.top-menu a:hover, .hero-nav a:hover {
    color: #000;
}

.nav-contact {
    margin-right: 50px;
}

.nav-contact a {
    color: #0056b3;
    padding: 10px 15px;    
}

.tel-no {
    display: flex;
    margin-left: -17px;
    margin-top: -6px;
}

.tel-no span {
    margin: 10px -9px 0 -9px;
}

.w-logo {
    margin-right: 20px;
}

.search-box {
    position: relative;
    height: 40px;
    width: 250px;
    margin-right: -70px;
}

.search-box input[type="text"] {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    border: 1px solid #2c3e50;
    border-radius: 20px;
    padding: 0 10px 0 40px;
}

.search-box img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px 0 0;
    z-index: 1;
    margin-left: 10px;
}

/* hero-section */
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ead1b2;
    color: #000;
    padding: 20px;
    font-size: 1rem;
}

.hero-section {
    background-color: #ead1b2;
}

.hero-header .logo {
    margin-left: 30px;
}

.hero-nav ul {
    display: flex;
}

.hero-nav li {
    margin: 0 10px;
}

.user {
    display: flex;
    margin-right: -200px;
    margin-left: 100px;
}

.red {
    color: red;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;
}

.txt1 {
    margin-top: -120px;
}

.txt1 h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 4rem;
    font-style: normal;
    width: 500px;
    color: #32324d;
}

.txt1 p {
    font-size: 2rem;
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}

.txt2 p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.txt2 .search-box input[type="text"] {
    position: absolute;
    height: 15vh;
    width: 100%;
    min-width: 500px;
    outline: none;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    padding: 0 10px 0 40px;
    margin-left: 10px;
}

.txt2 .search-box a {
    position: absolute;
    color: #000;
    margin: 35px 10px 0 20px;  
    font-size: 20px;
    padding: 0 5px 0 0;
}

.hero-img img {
    width: 500px;
    margin-right: -60px;
}

.events {
    margin-top: -20px;
    width: 100%;
    background-color: #ce73b3;
    height: 10vh;    
    align-content: center;   
    text-align: center;
}

.events a {
    border-bottom: 2px solid black;
    margin-left: 10px;
}

.product-menu {
    padding: 50px 15px;
}

.sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.sub-nav h1, .main-txt h2, .testimonials-header h2, .our-pride h2, .award h2, .r-form h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    color: #32324d;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 20px;
}

.sub-nav p {
    font-size: 1.1rem;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 0;
}

.card {
    width: 250px;
    height: 400px;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 10px;
    top: 60px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 10px;
}

.card:hover {
    cursor: pointer;
}

.card img {
    width: 100%;
    max-width: 300px;
    max-height: 150px;
    height: auto;
    object-fit: cover;
}

.card img:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    cursor: pointer;
    background: #bc7178;
    color: white;
    max-width: 200px;
    max-height: 10vh;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
}

.card h4 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #323243;
}

.card p, .card span {
    font-size: 0.8rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: gray;
    font-weight: 600;
}

.card p {
    margin-bottom: 10px;
}

.card span {
    margin-left: 0;
}

.card .price {
    font-size: 1.2rem;
    color: #323243;
    font-weight: 600;
    margin-top: 0;
}

.card .btn {
    margin-left: 10px;
    margin-top: 0;
}

.sub2 {
    margin-bottom: 0;
}
.box2 {
    margin-top: -50px;
}

.brands {
    padding: 50px 15px;
}

.main-txt p {
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 20px;    
    color: #333;
    font-size: 1.3rem;
    font-weight: 600;
}

.brand-logo {
    padding: 20px;
}

/* .brand-logo img {
    width: 1000px;
    margin: 10px;
} */

.testimonials {
    background-color: #afe1ec;
    padding: 50px 15px;
}

.testimonials-container, .pride-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.testimonials-container .card, .pride {
    width: 350px;
    height: 200px;
    display: flex;
}

.testimonials-container .card img {
    width: 30px;
    border: 0.1px solid grey;
    border-radius: 40px;
    margin: 20px;
    padding: 5px;
}

.t-txt, .p-txt {
    margin-top: 15px;
}

.t-txt h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.blue {
    color: #4884de;
}

.pride-box {
    margin: 0 30px;
}

.pride-img {
    margin-top: 15px;
}

.pride {
    margin-left: 40px;
}

.p-txt {
    font-size: 1rem;
}

.p-txt h4 {
    margin-bottom: 10px;
}

.award {
    margin-top: 50px;
}

.awarders {
    margin: 10px 15px;
    display: flex;
}

.awarders .card {
    width: 200px;
    height: 100px;
    box-shadow: none;
    margin-right: 20px;
}

footer {
    background-color: #0a0a36;
    color: white;
    padding: 50px 15px;
    justify-items: center;
    font-size: 1rem;
}

.foot-grid1, .foot-grid2 {
    display: flex;
}


.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.foot-div1, .foot-div2, .perks-nav, .footer-contact {
    margin-right: 100px;
}

.socials {
    margin-top: -50px;
}

.pay-opt img {
    width: 150px;
}

.footer-logo, .perks-nav h4, .foot-txt, .socials h4, .pay-opt h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

footer li {
    margin-left: 10px;
}

footer a {
    color: white;
}

.footer-contact, .pay-opt, .delivery {
    margin-top: 50px;
}

.social-icons {
    margin-left: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.pay-opt img, .delivery img {
    margin-left: 15px;
}

#reseller-page {
    padding: 50px;
    background: #f1eeee;
}

.reseller-page {
    display: flex;
    background-color: #f1eeee;
    justify-content: space-between;
}

#form-rQ {
    width: 400px;
    margin: 0 0 20px 20px;
    font-size: 0.9rem;
    color: gray;
}

form {
    margin: 20px;
}

.form-div1, .form-div2 {
    display: flex;
}

.form-div1 label, .form-div2 label {
    margin-right: 30px;    
}

label p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.form-div input[type="text"], .form-div input[type="email"], .form-div input[type="tel"] {
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 0.1px solid #2c3e50;
    border-radius: 5px;
    outline: none;
}

.submit-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-info input[type="submit"] {
    width: 100px;
    height: 50px;
    margin-right: 400px;
    background-color: #0a0a36;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-info p {
    margin: 0 50px 0 0;
    font-size: 1rem;
    color: #128512;
    width: 200px;
}

.reseller-div {
    margin-left: -300px;
}

.r-box {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background: linear-gradient(to bottom, white, burlywood);;
}

.r-box img {
    width: 200px;
    border-radius: 15px;
    margin-bottom: -10px;
}

.r-txt {
    margin: 50px 0 0 1px;
}

.r-txt h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    color: #32324d;
    font-size: 6rem;
    margin-left: 20px;
}

.r-box h6 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    color: #32324d;
    font-size: 1rem;
    margin: -150px 0 0 160px;
}

.r-txt p {
    font-size: 1.05rem;
    font-weight: 600;
    color: gray;
    margin: -10px 0 0 20px;
    width: 200px;
}

.r-steps h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-style: normal;
    color: #32324d;
    font-size: 1.2rem;
    margin: 10px 0;
}

.r-steps p {
    font-size: 1rem;
    color: gray;
    margin: 10px 0;
}

.r-steps p i {
    color: green;
    margin: 0 10px;
}

